@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #2d2f32;
}

section {
  min-width: 350px;
}

#navbar {
  background: #be3144;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}
.nav-items {
  display: flex;
  justify-content: center;
  width: min(100vw, 360px);
}
.nav-link {
  font-size: 1.6rem;
}
.nav-items li {
  padding: 20px;
}
.nav-items li:hover {
  background: #45567d;
}

/* ------------------Welcome Section------------------ */

#welcome-section {
  background-image: linear-gradient(to top right, #393c3f, #19181a);
  min-width: 320px;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
}
#welcome-section p {
  font-style: oblique;
  line-height: 50px;
  color: #be3144;
  font-size: 2rem;
}

/* ---------------------Projects--------------------- */

#project {
  padding: 60px 0;
  background: #45567d;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 50px;
}

.section-header {
  font-size: 2.6rem;
  margin: auto;
  border-bottom: 0.05em solid #f0f0f0;
  padding: 5px 10px;
  width: fit-content;
}

#myprojects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
  grid-gap: 20px;
  max-width: 95%;
  margin: auto;
}

.project-tile {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.project-tile h3 {
  padding: 15px;
  font-weight: 400;
  background: #303841;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
}
.project-tile h3:hover::before {
  content: "< ";
  color: #be3144;
}
.project-tile h3:hover::after {
  content: " />";
  color: #be3144;
}
.project-img {
  flex: 1;
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.showing {
  display: block;
  display: flex;
  text-align: center;
  min-width: 80px;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  background: #303841;
  margin: auto;
  border-radius: 2px;
}
.showing h4 {
  font-weight: 100;
  display: block;
}

.showing:hover {
  background: #be3144;
}
#moving {
  transition: 0.5s;
}
#moving:hover {
  transform: translateX(2px);
}

/* ---------------------Contact--------------------- */

#contact {
  padding: 1em 0 5em 0;
  background: #303841;
  border-bottom: 3px solid #be3144;
}

.content {
  text-align: center;
  padding: 25px;
}
.content h1 {
  font-size: 3.5rem;
}
.content p {
  padding: 15px 0;
  font-style: italic;
}
.reseau {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
}
.social-media {
  padding: 1em;
  display: block;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s ease;
}

.reseau-icone {
  width: 20px;
  margin-right: 4px;
}
.social-media:hover {
  transform: translateY(5px);
}

/* ---------------------Footer--------------------- */

footer {
  min-width: 350px;
  background: #303841;
  padding: 2em 0;
  text-align: center;
}
footer p {
  padding: 10px 0;
}
